
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2 style="color:forestgreen"> Welcome in My view</h2>

<h3> Read View Data  : @ViewData["AppName"]</h3>

<h2> @((int)ViewData["Num1"] + (int)ViewData["Num2"])</h2>

<h2> @(ViewBag.Number1 + ViewBag.Number2)</h2>